#bg1{
    text-align: center;
}

#pic{
    width: 400px;
    height: 400px;
}

.arrow{
    height: 100px;
    width: 200px;
}

.arrow1{
    height: 110px;
    width: 210px;
    margin: 20px;
}