#bg1{
    text-align: center;
}

#pic{
    width: 400px;
    height: 400px;
}

.arrow{
    height: 50px;
    width: 100px;
}

.arrow1{
    height: 60px;
    width: 110px;
    margin: 20px;
}
